.hero {
  padding: 118px 0;
  // проверить после изображений
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-background-color);
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      var(--gradient-color),
      var(--gradient-color)
    ),
    url("../images/hero-mob.jpg");

  /* outline: 1px solid tomato; */
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        var(--gradient-color),
        var(--gradient-color)
      ),
      url("../images/hero-mob@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        var(--gradient-color),
        var(--gradient-color)
      ),
      url("../images/hero-tab.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          var(--gradient-color),
          var(--gradient-color)
        ),
        url("../images/hero-tab@2x.jpg");
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        var(--gradient-color),
        var(--gradient-color)
      ),
      url("../images/hero-dek.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          var(--gradient-color),
          var(--gradient-color)
        ),
        url("../images/hero-dek@2x.jpg");
    }
  }
}

.hero__title {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  color: var(--accent-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    max-width: 700px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  @extend .button;
  padding: 10px 32px;
  &:hover,
  &:focus {
    background-color: var(--button-background-color);
  }
}
